In [1]:
from pyspark import SparkContext

In [2]:
from pyspark.sql import SparkSession

## Creamos una Sesión de Spark

In [21]:
spark = SparkSession.builder \
        .master("local") \
        .appName("miPrimeraSession") \
        .getOrCreate()

In [27]:
spark.stop()

In [28]:
context = SparkContext(master="local", appName="miPrimerContext")

In [29]:
spark = SparkSession(context)

## Creamos un DataFrame con numeros del 1 al 50000000

In [30]:
myRange = spark.range(50000000).toDF("numbers")

#### Creamos un nuevo DataFrame a partir del dataframe anterior en donde los numeros sean pares

In [31]:
divBy2 = myRange.where("numbers % 2 == 0")

In [32]:
divBy2.show(100)

+-------+
|numbers|
+-------+
|      0|
|      2|
|      4|
|      6|
|      8|
|     10|
|     12|
|     14|
|     16|
|     18|
|     20|
|     22|
|     24|
|     26|
|     28|
|     30|
|     32|
|     34|
|     36|
|     38|
|     40|
|     42|
|     44|
|     46|
|     48|
|     50|
|     52|
|     54|
|     56|
|     58|
|     60|
|     62|
|     64|
|     66|
|     68|
|     70|
|     72|
|     74|
|     76|
|     78|
|     80|
|     82|
|     84|
|     86|
|     88|
|     90|
|     92|
|     94|
|     96|
|     98|
|    100|
|    102|
|    104|
|    106|
|    108|
|    110|
|    112|
|    114|
|    116|
|    118|
|    120|
|    122|
|    124|
|    126|
|    128|
|    130|
|    132|
|    134|
|    136|
|    138|
|    140|
|    142|
|    144|
|    146|
|    148|
|    150|
|    152|
|    154|
|    156|
|    158|
|    160|
|    162|
|    164|
|    166|
|    168|
|    170|
|    172|
|    174|
|    176|
|    178|
|    180|
|    182|
|    184|
|    186|
|    188|
|    190|
|    192|
|    194|
|    196|
|    198|
+-------+
only showing top 100 rows

### leemos un archivo csv 
inferSchema se refiere a deducir el tipo de datos que almacena este archivo
header es para indicarle a spark que la primera fila contiene los nombres de las columnas

In [ ]:
flightData2015 = spark \
                .read \
                .option("inferSchema", "true") \
                .option("header", "true") \
                .csv("../data/flight-data/csv/2015-summary.csv")

## Ordenamos los datos por la columna count
para ordenarlos de forma descendete se agrega el parametro ascending = False

In [53]:
flightData2015.sort("count", ascending=False).take(20)

[Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='United States', count=370002),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Canada', count=8483),
 Row(DEST_COUNTRY_NAME='Canada', ORIGIN_COUNTRY_NAME='United States', count=8399),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Mexico', count=7187),
 Row(DEST_COUNTRY_NAME='Mexico', ORIGIN_COUNTRY_NAME='United States', count=7140),
 Row(DEST_COUNTRY_NAME='United Kingdom', ORIGIN_COUNTRY_NAME='United States', count=2025),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='United Kingdom', count=1970),
 Row(DEST_COUNTRY_NAME='Japan', ORIGIN_COUNTRY_NAME='United States', count=1548),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Japan', count=1496),
 Row(DEST_COUNTRY_NAME='Germany', ORIGIN_COUNTRY_NAME='United States', count=1468),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Dominican Republic', count=1420),
 Row(DEST_COUNTRY_NAME='Dominican Republic', ORIGIN_COUNTRY_NAME='United States', count=1353),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Germany', count=1336),
 Row(DEST_COUNTRY_NAME='South Korea', ORIGIN_COUNTRY_NAME='United States', count=1048),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='The Bahamas', count=986),
 Row(DEST_COUNTRY_NAME='The Bahamas', ORIGIN_COUNTRY_NAME='United States', count=955),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='France', count=952),
 Row(DEST_COUNTRY_NAME='France', ORIGIN_COUNTRY_NAME='United States', count=935),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='China', count=920),
 Row(DEST_COUNTRY_NAME='Colombia', ORIGIN_COUNTRY_NAME='United States', count=873)]

# Importante
Para establecer el numero de particiones que queremos que spark utilice, se ejecuta la siguiente linea de código

In [50]:
spark.conf.set("spark.sql.shuffle.partitions", "5")

Con spark se puede transformar un DataFrame a una tabla o una vista, la siguiente linea de código tansforma el DataFrame a una vista de base de datos, se puede relizar cualquier consulta con lenguaje SQL, por ejemplo "SELECT * FROM nombre_tabla"

In [51]:
flightData2015.createOrReplaceTempView("flight_data_2015")

In [58]:
sqlWay = spark.sql("SELECT * FROM flight_data_2015 WHERE count >1000 ORDER BY count DESC")
sqlWay.show()

+------------------+-------------------+------+
| DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME| count|
+------------------+-------------------+------+
|     United States|      United States|370002|
|     United States|             Canada|  8483|
|            Canada|      United States|  8399|
|     United States|             Mexico|  7187|
|            Mexico|      United States|  7140|
|    United Kingdom|      United States|  2025|
|     United States|     United Kingdom|  1970|
|             Japan|      United States|  1548|
|     United States|              Japan|  1496|
|           Germany|      United States|  1468|
|     United States| Dominican Republic|  1420|
|Dominican Republic|      United States|  1353|
|     United States|            Germany|  1336|
|       South Korea|      United States|  1048|
+------------------+-------------------+------+

Spark es parecido a SQL y brinda las funciones para obtener el mismo resultado que la sentencia SQL anterior, en la siguiente linea de describe

In [63]:
myDfway = flightData2015.where("COUNT > 1000").orderBy("count",ascending=False)
myDfway.show()

+------------------+-------------------+------+
| DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME| count|
+------------------+-------------------+------+
|     United States|      United States|370002|
|     United States|             Canada|  8483|
|            Canada|      United States|  8399|
|     United States|             Mexico|  7187|
|            Mexico|      United States|  7140|
|    United Kingdom|      United States|  2025|
|     United States|     United Kingdom|  1970|
|             Japan|      United States|  1548|
|     United States|              Japan|  1496|
|           Germany|      United States|  1468|
|     United States| Dominican Republic|  1420|
|Dominican Republic|      United States|  1353|
|     United States|            Germany|  1336|
|       South Korea|      United States|  1048|
+------------------+-------------------+------+