In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType, Row

In [2]:
spark = SparkSession.builder \
        .master("local") \
        .appName("Proyecto") \
        .getOrCreate()

22/03/28 22:05:05 WARN Utils: Your hostname, luishm resolves to a loopback address: 127.0.1.1; using 192.168.0.117 instead (on interface wlp7s0)
22/03/28 22:05:05 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/luis/spark/lib/python3.9/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/03/28 22:05:06 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
path_vaio = "../../curso-apache-spark-platzi/files/"

In [9]:
path_factura = "../../../practicas/curso-apache-spark-platzi/files/"

In [4]:
equiposSchema = StructType([
    StructField("id", IntegerType(), False),
    StructField("equipo", StringType(), False),
    StructField("sigla", StringType(), False),
])

equiposDF = spark.read \
            .schema(equiposSchema) \
            .option("header", "true") \
            .csv(path_vaio+"paises.csv")
equiposDF.show(5)

+---+--------------------+-----+
| id|              equipo|sigla|
+---+--------------------+-----+
|  1|         30. Februar|  AUT|
|  2|A North American ...|  MEX|
|  3|           Acipactli|  MEX|
|  4|             Acturus|  ARG|
|  5|         Afghanistan|  AFG|
+---+--------------------+-----+
only showing top 5 rows

In [32]:
SchemaJugadores = StructType([
    StructField("deportista_id", IntegerType(), False),
    StructField("nombre", StringType(), False),
    StructField("genero", IntegerType(), False),
    StructField("edad", IntegerType(), False),
    StructField("altura", IntegerType(), False),
    StructField("peso", FloatType(), False),
    StructField("equipo_id", IntegerType(), False)
])
jugadoresDF = spark.read \
            .schema(SchemaJugadores) \
            .option("header", "true") \
            .csv(path_vaio+"deportista.csv")

jugadores2DF = spark.read \
            .schema(SchemaJugadores) \
            .option("header", "true") \
            .csv(path_vaio+"deportista2.csv")
jugadoresDF = jugadoresDF.union(jugadores2DF)
jugadoresDF.show(5)

+-------------+--------------------+------+----+------+----+---------+
|deportista_id|              nombre|genero|edad|altura|peso|equipo_id|
+-------------+--------------------+------+----+------+----+---------+
|            1|           A Dijiang|     1|  24|   180|80.0|      199|
|            2|            A Lamusi|     1|  23|   170|60.0|      199|
|            3| Gunnar Nielsen Aaby|     1|  24|     0| 0.0|      273|
|            4|Edgar Lindenau Aabye|     1|  34|     0| 0.0|      278|
|            5|Christine Jacoba ...|     2|  21|   185|82.0|      705|
+-------------+--------------------+------+----+------+----+---------+
only showing top 5 rows

In [6]:
resultadosSchema = StructType([
    StructField("resultado_id", IntegerType(), False),
    StructField("medalla", StringType(), False),
    StructField("deportista_id", IntegerType(), False),
    StructField("juego_id", IntegerType(), False),
    StructField("evento_id", IntegerType(), False),
])

resultadosDF = spark.read \
            .schema(resultadosSchema) \
            .option("header", "true") \
            .csv(path_vaio+"resultados.csv")
resultadosDF.show(5)

+------------+-------+-------------+--------+---------+
|resultado_id|medalla|deportista_id|juego_id|evento_id|
+------------+-------+-------------+--------+---------+
|           1|     NA|            1|      39|        1|
|           2|     NA|            2|      49|        2|
|           3|     NA|            3|       7|        3|
|           4|   Gold|            4|       2|        4|
|           5|     NA|            5|      36|        5|
+------------+-------+-------------+--------+---------+
only showing top 5 rows

In [7]:
deporteSchema = StructType([
    StructField("deporte_id", IntegerType(), False),
    StructField("deporte", StringType(), False)
])


deportesDF = spark.read \
             .schema(deporteSchema) \
             .option("header", "true")\
             .csv(path_vaio+"deporte.csv")
deportesDF.take(2)

[Row(deporte_id=1, deporte='Basketball'), Row(deporte_id=2, deporte='Judo')]

In [11]:
eventoSchema = StructType([
    StructField("evento_id", IntegerType(), False),
    StructField("evento", StringType(), False),
    StructField("deporte_id", IntegerType(), False)
])

eventosDF = spark.read\
           .schema(eventoSchema) \
           .option("header", "true") \
           .csv(path_vaio+"evento.csv")

eventosDF.take(5)

[Row(evento_id=1, evento="Basketball Men's Basketball", deporte_id=1),
 Row(evento_id=2, evento="Judo Men's Extra-Lightweight", deporte_id=2),
 Row(evento_id=3, evento="Football Men's Football", deporte_id=3),
 Row(evento_id=4, evento="Tug-Of-War Men's Tug-Of-War", deporte_id=4),
 Row(evento_id=5, evento="Speed Skating Women's 500 metres", deporte_id=5)]

In [38]:
juegoSchema = StructType([
    StructField("juego_id", IntegerType(), False),
    StructField("anio", StringType(), False),
    StructField("temporada", StringType(), False),
    StructField("ciudad", StringType(), False)
])

juegosDF = spark.read \
            .schema(juegoSchema)\
            .option("header", "true")\
            .csv(path_vaio+"juegos.csv")
            
juegosDF.take(1)

22/03/28 22:27:02 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 5, schema size: 4
CSV file: file:///home/luis/Documentos/Spark/curso-apache-spark-platzi/files/juegos.csv

[Row(juego_id=1, anio='1896 Verano', temporada='1896', ciudad='Verano')]

In [13]:
data_list = eventosDF.take(eventosDF.count())

In [16]:
print(list(data_list[5]))

[6, "Speed Skating Women's 1,000 metres", 5]

In [17]:
eventosDF.printSchema()

root
 |-- evento_id: integer (nullable = true)
 |-- evento: string (nullable = true)
 |-- deporte_id: integer (nullable = true)

### Eliminar y renombrar columnas en un dataframe

In [18]:
jugadoresDF = jugadoresDF.withColumnRenamed("genero", "sexo").drop("altura")

In [19]:
jugadoresDF.printSchema()

root
 |-- deportista_id: integer (nullable = true)
 |-- nombre: string (nullable = true)
 |-- sexo: integer (nullable = true)
 |-- edad: integer (nullable = true)
 |-- peso: float (nullable = true)
 |-- equipo_id: integer (nullable = true)

In [20]:
from pyspark.sql.functions import col

In [23]:
try: 
    jugadoresDF=jugadoresDF.select(col("deportista_id"),col("nombre"), col("edad").alias("EdadAlJugar"), col("equipo_id"))
    jugadoresDF.show(5)
except:
    print("No existe la columna")

+-------------+--------------------+-----------+---------+
|deportista_id|              nombre|EdadAlJugar|equipo_id|
+-------------+--------------------+-----------+---------+
|            1|           A Dijiang|         24|      199|
|            2|            A Lamusi|         23|      199|
|            3| Gunnar Nielsen Aaby|         24|      273|
|            4|Edgar Lindenau Aabye|         34|      278|
|            5|Christine Jacoba ...|         21|      705|
+-------------+--------------------+-----------+---------+
only showing top 5 rows

In [24]:
jugadoresDF.sort("EdadAlJugar").show(10)

22/03/28 22:09:21 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: 67787, Lee BongJu, 27, 970
 Schema: deportista_id, nombre, edad, equipo_id
Expected: deportista_id but found: 67787
CSV file: file:///home/luis/Documentos/Spark/curso-apache-spark-platzi/files/deportista2.csv

+-------------+--------------------+-----------+---------+
|deportista_id|              nombre|EdadAlJugar|equipo_id|
+-------------+--------------------+-----------+---------+
|           54|Mohamed Jamshid A...|          0|      496|
|           58|    Georgi Abadzhiev|          0|      154|
|           66|     Mohamed Abakkar|          0|     1003|
|          133|           Franz Abb|          0|      399|
|          102|   Sayed Fahmy Abaza|          0|      308|
|          139|George Ioannis Abbot|          0|     1043|
|          163|     Ismail Abdallah|          0|     1095|
|          167|Ould Lamine Abdallah|          0|      362|
|          173| Mohamed Abdel Fatah|          0|     1003|
|          176|Mahmoud Atter Abd...|          0|     1095|
+-------------+--------------------+-----------+---------+
only showing top 10 rows

In [28]:
jugadoresDF.sort("EdadAlJugar").filter((jugadoresDF.EdadAlJugar !=0)).show(5)

22/03/28 22:09:50 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: 67787, Lee BongJu, 27, 970
 Schema: deportista_id, nombre, edad, equipo_id
Expected: deportista_id but found: 67787
CSV file: file:///home/luis/Documentos/Spark/curso-apache-spark-platzi/files/deportista2.csv

+-------------+--------------------+-----------+---------+
|deportista_id|              nombre|EdadAlJugar|equipo_id|
+-------------+--------------------+-----------+---------+
|        71691|  Dimitrios Loundras|         10|      333|
|        52070|        Etsuko Inada|         11|      514|
|        40129|    Luigina Giavotti|         11|      507|
|        37333|Carlos Bienvenido...|         11|      982|
|        47618|Sonja Henie Toppi...|         11|      742|
+-------------+--------------------+-----------+---------+
only showing top 5 rows

In [30]:
resultadosDF.printSchema()

root
 |-- resultado_id: integer (nullable = true)
 |-- medalla: string (nullable = true)
 |-- deportista_id: integer (nullable = true)
 |-- juego_id: integer (nullable = true)
 |-- evento_id: integer (nullable = true)

In [33]:
jugadoresDF.printSchema()

root
 |-- deportista_id: integer (nullable = true)
 |-- nombre: string (nullable = true)
 |-- genero: integer (nullable = true)
 |-- edad: integer (nullable = true)
 |-- altura: integer (nullable = true)
 |-- peso: float (nullable = true)
 |-- equipo_id: integer (nullable = true)

In [39]:
juegosDF.printSchema()

root
 |-- juego_id: integer (nullable = true)
 |-- anio: string (nullable = true)
 |-- temporada: string (nullable = true)
 |-- ciudad: string (nullable = true)

In [40]:
deportesDF.printSchema()

root
 |-- deporte_id: integer (nullable = true)
 |-- deporte: string (nullable = true)

In [49]:
eventosDF.printSchema()

root
 |-- evento_id: integer (nullable = true)
 |-- evento: string (nullable = true)
 |-- deporte_id: integer (nullable = true)

In [84]:
equiposDF.printSchema()

root
 |-- id: integer (nullable = true)
 |-- equipo: string (nullable = true)
 |-- sigla: string (nullable = true)

In [67]:
datalistjoin = list(jugadoresDF.join(resultadosDF,jugadoresDF.deportista_id == resultadosDF.deportista_id,"left") \
    .join(juegosDF,juegosDF.juego_id == resultadosDF.juego_id,"left") \
    .join(eventosDF,eventosDF.evento_id == resultadosDF.evento_id,"left") \
    .select(jugadoresDF.nombre.alias("Nombre Jugador"), col("edad").alias("EdadAlJugar"), "medalla", col("anio").alias("Año de Juego"), eventosDF.evento.alias("disciplina")).collect())

22/03/28 23:02:44 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , nombre_juego
 Schema: juego_id, anio
Expected: juego_id but found:
CSV file: file:///home/luis/Documentos/Spark/curso-apache-spark-platzi/files/juegos.csv
22/03/28 23:02:45 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: 67787, Lee BongJu, 27
 Schema: deportista_id, nombre, edad
Expected: deportista_id but found: 67787
CSV file: file:///home/luis/Documentos/Spark/curso-apache-spark-platzi/files/deportista2.csv

In [83]:
jugadoresDF.join(resultadosDF,jugadoresDF.deportista_id == resultadosDF.deportista_id,"left") \
    .join(juegosDF,juegosDF.juego_id == resultadosDF.juego_id,"left") \
    .join(eventosDF,eventosDF.evento_id == resultadosDF.evento_id,"left") \
    .select(jugadoresDF.nombre.alias("Nombre Jugador"), col("edad").alias("EdadAlJugar"), "medalla", col("anio").alias("Año de Juego"), eventosDF.evento.alias("disciplina")).count()

22/03/28 23:06:55 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header:
 Schema: juego_id
Expected: juego_id but found:
CSV file: file:///home/luis/Documentos/Spark/curso-apache-spark-platzi/files/juegos.csv
22/03/28 23:06:56 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: 67787
 Schema: deportista_id
Expected: deportista_id but found: 67787
CSV file: file:///home/luis/Documentos/Spark/curso-apache-spark-platzi/files/deportista2.csv

271112

In [82]:
print("Existen {} registros en esta lista".format(len(datalistjoin)))
for i in datalistjoin[:5]:
    print(list(i))

Existen 271112 en esta lista
['A Dijiang', 24, 'NA', '1992 Verano', "Basketball Men's Basketball"]
['A Lamusi', 23, 'NA', '2012 Verano', "Judo Men's Extra-Lightweight"]
['Gunnar Nielsen Aaby', 24, 'NA', '1920 Verano', "Football Men's Football"]
['Edgar Lindenau Aabye', 34, 'Gold', '1900 Verano', "Tug-Of-War Men's Tug-Of-War"]
['Christine Jacoba Aaftink', 21, 'NA', '1994 Invierno', "Speed Skating Women's 1,000 metres"]

In [96]:
datalistjoin2=list(resultadosDF.filter(resultadosDF.medalla!="NA").join(jugadoresDF, resultadosDF.deportista_id == jugadoresDF.deportista_id, "left") \
.join(equiposDF, equiposDF.id == jugadoresDF.equipo_id)\
.select("medalla", "sigla", "equipo")\
.collect())

22/03/28 23:21:54 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: 67787, 970
 Schema: deportista_id, equipo_id
Expected: deportista_id but found: 67787
CSV file: file:///home/luis/Documentos/Spark/curso-apache-spark-platzi/files/deportista2.csv

Row(medalla='Silver', sigla='GBR', equipo='Great Britain')