In [1]:
from pyspark import SparkContext

In [4]:
spark = SparkContext(master="local", appName="RDDtoDF")

Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/03/28 12:57:19 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/03/28 12:57:20 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/03/28 12:57:20 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [5]:
path = "../../../practicas/curso-apache-spark-platzi/files/"

In [23]:
jugadoresOlimpicosRDD = spark.textFile(path+"deportista.csv").map(lambda l: l.split(","))
jugadoresOlimpicosRDD2 = spark.textFile(path+"deportista2.csv").map(lambda k: k.split(","))
jugadoresOlimpicosRDD = jugadoresOlimpicosRDD.union(jugadoresOlimpicosRDD2)

In [25]:
jugadoresOlimpicosRDD.take(5)

[['deportista_id', 'nombre', 'genero', 'edad', 'altura', 'peso', 'equipo_id'],
 ['1', 'A Dijiang', '1', '24', '180', '80', '199'],
 ['2', 'A Lamusi', '1', '23', '170', '60', '199'],
 ['3', 'Gunnar Nielsen Aaby', '1', '24', '0', '0', '273'],
 ['4', 'Edgar Lindenau Aabye', '1', '34', '0', '0', '278']]

In [24]:
def EliminaEncabezado(indice, interador):
    return iter(list(interador)[1:])

In [26]:
jugadoresOlimpicosRDD = jugadoresOlimpicosRDD.mapPartitionsWithIndex(EliminaEncabezado)

In [27]:
jugadoresOlimpicosRDD.take(5)

[['1', 'A Dijiang', '1', '24', '180', '80', '199'],
 ['2', 'A Lamusi', '1', '23', '170', '60', '199'],
 ['3', 'Gunnar Nielsen Aaby', '1', '24', '0', '0', '273'],
 ['4', 'Edgar Lindenau Aabye', '1', '34', '0', '0', '278'],
 ['5', 'Christine Jacoba Aaftink', '2', '21', '185', '82', '705']]

In [28]:
jugadoresOlimpicosRDD=jugadoresOlimpicosRDD.map(lambda l: (          
    int(l[0]),
    l[1],
    int(l[2]),
    int(l[3]),
    int(l[4]),
    float(l[5]),
    int(l[6])                        
))

In [31]:
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, FloatType, Row

ImportError: cannot import name 'sqlContext' from 'pyspark.sql' (/home/facturatech/spark/lib/python3.10/site-packages/pyspark/sql/__init__.py)

In [32]:
SchemaJugadores = StructType([
    StructField("jugador_id", IntegerType(), False),
    StructField("nombre", StringType(), False),
    StructField("genero", IntegerType(), False),
    StructField("edad", IntegerType(), False),
    StructField("altura", IntegerType(), False),
    StructField("peso", FloatType(), False),
    StructField("equipo_id", IntegerType(), False)
])

In [38]:
sqlContext = SparkSession(spark);

In [39]:
sqlContext.createDataFrame(jugadoresOlimpicosRDD,SchemaJugadores).show(5)

+----------+--------------------+------+----+------+----+---------+
|jugador_id|              nombre|genero|edad|altura|peso|equipo_id|
+----------+--------------------+------+----+------+----+---------+
|         1|           A Dijiang|     1|  24|   180|80.0|      199|
|         2|            A Lamusi|     1|  23|   170|60.0|      199|
|         3| Gunnar Nielsen Aaby|     1|  24|     0| 0.0|      273|
|         4|Edgar Lindenau Aabye|     1|  34|     0| 0.0|      278|
|         5|Christine Jacoba ...|     2|  21|   185|82.0|      705|
+----------+--------------------+------+----+------+----+---------+
only showing top 5 rows

In [40]:
sqlContext.stop()